# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist
apps/**/dist/
apps/**/build/


# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem

# Go backend
apps/backend/tmp/
apps/backend/bin/
apps/backend/bin/**
apps/backend/*.exe
apps/backend/*.exe~
apps/backend/*.dll
apps/backend/*.so
apps/backend/*.dylib
apps/backend/*.test
apps/backend/*.out
apps/backend/coverage.out
apps/backend/build-errors.log

# Frontend apps
apps/frontend/admin/logs
apps/frontend/public/logs
apps/frontend/admin/*.log
apps/frontend/public/*.log
apps/frontend/admin/pnpm-debug.log*
apps/frontend/public/pnpm-debug.log*
apps/frontend/admin/lerna-debug.log*
apps/frontend/public/lerna-debug.log*
apps/frontend/admin/node_modules
apps/frontend/public/node_modules
apps/frontend/admin/dist
apps/frontend/public/dist
apps/frontend/admin/dist-ssr
apps/frontend/public/dist-ssr
apps/frontend/admin/*.local
apps/frontend/public/*.local
apps/frontend/admin/.vscode/*
!apps/frontend/admin/.vscode/extensions.json
apps/frontend/public/.vscode/*
!apps/frontend/public/.vscode/extensions.json
apps/frontend/admin/.idea
apps/frontend/public/.idea
apps/frontend/admin/*.suo
apps/frontend/public/*.suo
apps/frontend/admin/*.ntvs*
apps/frontend/public/*.ntvs*
apps/frontend/admin/*.njsproj
apps/frontend/public/*.njsproj
apps/frontend/admin/*.sln
apps/frontend/public/*.sln
apps/frontend/admin/*.sw?
apps/frontend/public/*.sw?
